/*Mixin Examples*/
/*@include center()*/
.container {
  width: 990px; }

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 21px; }

nav {
  width: 100%;
  background-color: #F9F9F9; }
  nav .navSearch {
    float: left;
    margin-left: 120px;
    margin-top: 10px;
    width: 444px; }
    nav .navSearch input {
      width: 400px; }
  nav .gitLinks {
    width: 333px;
    float: left; }
    nav .gitLinks li {
      padding: 15px;
      display: inline-block;
      font-size: 12px;
      color: black;
      list-style: none; }
      nav .gitLinks li a {
        color: black; }
  nav .profile {
    width: 111px;
    float: left;
    display: inline-block;
    padding: 15px 0; }
    nav .profile img {
      float: left;
      max-height: 16px;
      padding-right: 8px; }
    nav .profile p {
      float: left;
      font-size: 10px;
      font-weight: bold; }
  nav .profileLinks {
    width: 392px;
    float: left; }
    nav .profileLinks li {
      padding: 15px;
      padding-right: 5px;
      display: inline-block;
      font-size: 12px;
      color: black;
      list-style: none; }

.left {
  display: inline-block;
  width: 30%;
  padding-right: 32px; }
  .left img {
    max-width: 95%;
    padding-right: 9px;
    padding-top: 9px;
    border-radius: 19px; }
    .left img h3 {
      font-size: 23px;
      font-weight: bold; }
      .left img h3 h5 {
        font-size: 14px;
        color: grey;
        padding-bottom: 10px; }
        .left img h3 h5 .octiconDev {
          color: grey; }

.gitHubProfileData p {
  display: inline-block;
  border-bottom: .5px;
  border-top: .5px; }

.right {
  float: right;
  padding-top: 6px;
  width: 70%; }
  .right .button {
    float: right;
    margin-top: 10px; }
  .right #publicActivity img {
    max-width: 15px; }
